
    body {
    text-align: center;
    }

    .choice-button {
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(164, 212, 130);
    border-radius: 50px;
    cursor: pointer;
    }

    .choice-image {
    height: 75px;
    }

@media (max-width:600px) {
    .choice-button{
        height: 15vh;
        width: 15vh;
        border-radius: 50%;
    }
    h1{
        padding-top: 10vh;
    }
    .choice-image{
        height: 15vh;
    }

}
    
    
